h1{
    
    font-family: 'Courier New', Courier, monospace;
    padding-left: .5em;
    margin-bottom: 0em;
    font-size: 3.2vw;
}
#coordinate_transform {
    margin-right:10px;
}
@media screen and (min-width:830px){
    h5 {
        font-size: 18px;
    }
    #point_display {
        height: 600px;
    }
    #point_info {
        font-size: 15px;
    }
    #coordinate_transform {
        height:15px;
        width:15px;
    }
}
@media screen  and (max-width:830px){
    h5 {
        font-size: 13px;
    }
    #point_display {
        height: 400px;
    }
    #point_info {
        font-size: 10px;
    }
    #coordinate_transform {
        height:10px;
        width:10px;
    }
}
@media screen and (max-width:750px)
{
    #point_display {
        width:100%;
    }
    #point_info {
        width:100%;
    }
}
@media screen and (min-width:750px)
{
    #point_display {
        width:70%;
    }
    #point_info {
        width:20%;
    }
}

#heading {
    top:0;
    position:sticky;
    background-color: blue;
    z-index: 1;
    box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
    border-radius:0 0 1em 1em;
}
body{

    background:lightblue;
}
#point{
    padding-top: 0.5em;
    padding-bottom: .5em;
    display: inline-block;
}
#control {
    
    background-color: mediumturquoise;
    display: inline-block;
}
#point > div {
    margin:0em 0.5em;
}
#point_display {
    
    overflow: hidden;
}
#point_info{
    
    margin-left: .5em;
}
#slider {
    /*float:left;*/
    margin-top: .5em; 
    margin-right:.5em;
}
#control > div{
    color: blue;
    margin-bottom:0.5em;
    margin-top: .5em; 
    margin-right:.5em;
}
#change_destination{
    margin-top: .5em; 
    margin-right:.5em;
}
#reset_camera{
    margin-top: .5em; 
    margin-right:.5em;
}
#renderCanvas {
    height:100%;
    width:100%;
}